* {
    margin: 0;
    padding: 0;
    
}


/* pisar la tipografía de bootstrap sin usar "!important! */
.lead{
    font-size: 2rem;
    color: aliceblue;
}
.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    margin-top: .1px;
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
   
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    margin: 30px;
    font-family: "Raleway", sans-serif;
    
}

.section{
    margin-top: 50px;
    padding: 30px;
    margin: 30px;
    font-family: "Raleway", sans-serif;
    text-align: center;
}
.h5{
    color: black;
}
.h2{
    font-size: 30px;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.card-img{
    max-width: 350px;
    padding: 30px;
}
.espacio{
  margin: 15px;
    padding: 90px;
    margin-top: .5px;
    
}
.parrafo{
    margin-top: 30px;
}
.form{
    margin: 30px;
    padding: 150px;
   
}
.button{
    margin-top: 30px;
}